
{% include 'mails/header.twig' %}

<body class="">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader">Dein Konfigurator-Account</span>
        <table role="presentation" class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p>Hallo {{ user.vorname }}</p>
                    <p>
                      Für dich wurden Zugangsdaten erstellt um Zugriff auf den <b>{{ setting.sys.konfigurator_name }}</b> zu erhalten.<br>
                      Hier erhälst du deine Zugangsdaten
                    </p>

                    <p>URL: {{ data.url }}</p>
                    <p>Mail: {{ data.email }}</p>
                    <p>Passwort: {{ data.pass }}</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- START FOOTER -->
        <div class="footer">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block powered-by">
                https://akazie.com
              </td>
            </tr>
          </table>
        </div>
        <!-- END FOOTER -->

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
