{% extends 'auth/app.twig' %}

{% block content %}
  <div class="login-form">
    <form method="post">
      {{ csrf.field | raw }}
      <h2 class="text-center">Registrieren</h2>
      {% include 'message/inline.twig' %}
      <div class="form-group">
        <input type="text" class="form-control {{ errors.username ? ' is-invalid' : '' }}" name="username" placeholder="Benutzername" required="required" value="{{ old.username }}">
        <div class="invalid-feedback">{{ errors.username | first }}</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control {{ errors.mail ? ' is-invalid' : '' }}" name="mail" placeholder="Mail" required="required" value="{{ old.mail }}">
        <div class="invalid-feedback">{{ errors.mail | first }}</div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control {{ errors.password ? ' is-invalid' : '' }}" name="password" placeholder="Passwort" required="required">
        <div class="invalid-feedback">
          Das Password muss folgende kriterien erfüllen:<br>
          <ul>
            <li>Grossbuchstaben</li>
            <li>Kleinbuchstaben</li>
            <li>Zahlen</li>
            <li>Mindestens 8 Zeichen lang</li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control {{ errors.password_retry ? ' is-invalid' : '' }}" name="password_retry" placeholder="Passwort wiederholen" required="required">
        <div class="invalid-feedback">{{ errors.password_retry | first }}</div>
      </div>
      {{ captcha.form|raw }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Absenden</button>
      </div>
    </form>
    <p class="text-center small"><a href="{{ path_for('auth.login') }}">zurück zum Login</a></p>
  </div>

{% endblock %}
